<div id="preload">
     	<img src="img/bcg_slide-1.jpg">
     	<img src="img/bcg_slide-2.jpg">
     	<img src="img/bcg_slide-3.jpg">
   	</div>

    <main>

      <section id="slide-1" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2 id="introduction"></h2>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-2" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>my expectations</h2>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-3" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <p>I am excited to potentially be involved in the Girls in Tech London Mentoring Programme. I believe it will give me an opportunity to network and build relationships with a diverse range of women working in the industry. This can only give me a wider understanding, and a greater drive to succeed in the tech world. As someone who is relatively new (less than a year) to my tech role and the industry as a whole, it is vitally important for me to talk to, learn from and create as many relationships as possible.</br></br>
              I also believe that a mentor/mentee relationships is never about one way learning and I expect for both sides of the relationship to add value to each others lives and careers.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>how I got here</h2>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-5" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <p>Took me a while to confirm what I wanted to choose as my career and while I always wanted to code I wasn’t sure I would be able to cut it. After school I studied drama and communications and started an 8 year career in marketing. During this time I looked at various computer science degree programmes, short courses and online courses but kept convincing myself that my current career would become more fulfilling as I moved up the ladder. It didn’t. I was speaking to a friend who had recently completed a coding bootcamp and decided that now was the time to take the plunge and finally try out a career in programming. I did, and have not looked back for a second! Since the coding course I have started as a junior Java developer at Deloitte Digital and have loved every minute of my new career. </br></br>

              Along the way I had a lot of support from family and friends and made a small network of friends in the coding industry through the course I did, my new job and attending and coaching at coding events such as Codebar. Every decision I made along the way to get to my new career and every person I’ve met and has supported me has me into a driven, passionate software developer.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-6" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>the future</h2>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-7" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <p>I would like to come away from the programme with a fruitful mentorship with a successful woman in tech. I’m so excited about my new career and likewise about the possibility of being mentored by someone who has already had a number of experiences and had a level of success. In the long term, I would like to be a successful Senior Developer and Technical Lead and in a position to mentor someone else who is new to the industry and looking for this vital mentoring help.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-8" class="homeSlide">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>Contact me by email at <a href="mailto:pellicena@gmail.com">pellicena@gmail.com</a> or call me on 07585309858.</h2>
            </div>
          </div>
        </div>
      </section>

	</main>

  </body>
</html>
